* {
	margin: 0;
	padding: 0;
}
body {
	font-family: "Hiragino Kaku Gothic ProN", "Hiragino Sans", "メイリオ", "Lucida Grande", Verdana, sans-serif;
	color: #2d2d2d;
	word-break: break-all;
}
header {
	display: flex;
	/*justify-content: space-between;  /* 左右に分ける */
	align-items: center;
	background-color: #cee4c0fa;
	padding: 10px 20px;
	box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
.profile{
	width: 200px;             /* 画像サイズを指定 */
	height: 200px;
	border-radius: 50%;       /* 丸くする */
	object-fit: cover;        /* はみ出た部分を中央で切り取り */
  }

	/* /* ボタン風リンク 
	 .nav-button {
      text-decoration: none;
      padding: 8px 16px;
      background-color: #3c9c26;
      color: white;
      border-radius: 5px;
      transition: background-color 0.3s;
    }

	
    .nav-button:hover {
      color: #bbe4ff;
    }
.nav-links {
	display: flex;
  }*/

.wrapper {
	width: 1200px;
	margin: auto;
}
.ttl {
	padding: 24px 12px;
	margin: 0 0 24px;
	font-size: 40px;
}
.subttl {
	position: relative;
    border-bottom: 6px solid #eaeaea;
    line-height: 1;
    padding: 12px 0 6px 12px;
    margin: 0 12px 18px;
    font-size: 24px;
}    
.subttl::before {
	position: absolute;
	left: 0;
	bottom: -6px;
	width: 20%;
	height: 6px;
	content: '';
	background: #60A13E;
}
.flexbox {
	display: flex;
	justify-content: space-between;
	flex-direction: row-reverse;
}

.profile__img {
	width: 200px;
	height: 200px;
	border-radius: 50%;
	object-fit: cover;
}
.detail {
	padding: 0 10px 30px 30px;
}
.detail01 {
	width: 50%;
}
.detail__ttl {
    position: relative;
    border-bottom: 3px solid #96d49f;
    max-width: max-content;
    padding: 6px;
    margin: 12px 0 18px;
    font-size: 20px;
    color: #1f1f1f;
}
.detail__ttl::before,
.detail__ttl::after {
	position: absolute;
	content: '';
	left: 1em;
	width: 0;
	height: 0;
	border-width: 14px 12px 0;
	border-style: solid;
}
.detail__ttl::before {	
	bottom: -14px;    
	border-color: #96d49f transparent transparent;
}
.detail__ttl::after {
	bottom: -10px;
	border-color: #fff transparent transparent;
}
.detail__list {
	font-size: 16px;
}
.strong {
	background: #ff0033e6;
	color: #ffffff;
}

.footer {
	background: #4f4f4f;
    width: 100%;
    padding: 24px 0 18px;
    text-align: center;
    color: #ffffff;
}

@media screen and (max-width: 981px) {
.wrapper {
	width: 100%;
	padding: 0 3%;
	margin: auto;
}
.ttl {
	padding: 4.8% 2.4%;
    margin: 0 0 4.8%;
	font-size: calc(5vw + 12px);
}
.subttl {
	position: relative;
    border-bottom: 6px solid #eaeaea;
    line-height: 1;
    padding: 2.4% 0 2% 2.4%;
    margin: 0 2.4% 3%;
    font-size: calc(3vw + 10px);
}
.flexbox {
	display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.profile {
    width: 80%;
}
.profile__img {
	width: 100%;
    border-radius: 50%;
}
.detail {
	padding: 0 4% 6%;
}
.detail01 {
	width: 100%;
}
.detail__ttl {
    margin: 2.4% 0  3%;
    font-size: calc(2.6vw + 8px);
}
.detail__list {
	font-size: calc(2vw + 6px);
}
.youtube {
	width: 100%;
}
}
